@import '../../style/main';

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
  }

  &__image {
    max-width: 300px;
    margin-inline: auto;

    @include on-tablet {
      max-width: 600px;
    }

    @include on-desktop {
      max-width: 800px;
    }
  }
}
