@import '../../../../style/main';

.footerMenu {
  @include on-tablet {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 13px;
    }

    @include on-desktop {
      gap: 108px;
    }
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    color: $secondary-color;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4%;
    display: block;

    @include hover(color, $primary-color);
  }
}
