* {
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;
  background-color: $background-hover-color;

  &__body {
    position: relative;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}
